body{
    background-color: rgb(248, 252, 255);
    
}

.p1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.p2 {
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 18px;
   width: 1000px;
}

ul {
   list-style-type: none;
   margin: 0!important;
   padding: 0;
   overflow: hidden;
   position: fixed;
   top: 0;
   left:-8px;
   right:-8px;
   text-indent: 20px;
   width: 100%;
   color: white;
   background-color: rgb(28, 29, 31);
}

li {
   float: left;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   background-color: #2f3136;
}

li a:hover:not(.active) {
   background-color: #111;
}

.active {
   background-color: #94a8db
}

#images a {
display:inline-block;
}

#images {
   text-align: center;
}